<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script language="JavaScript">
        $(document).ready(function(){
            $("#submit").click(function() {
                $("#submit").text("装逼进行中...");
            });
        });
    </script>
    <title>微信运动修改器</title>
</head>
    <body>
    <div class="container">
        <h1 class="text-center text-primary">微信运动修改器</h1>
        <p class="text-center text-info">--懒癌的救赎(IOS百分之百可用,安卓部分可用)</p>

            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <tr class="table">
                {% for message in messages %}
                  <td><h3 class="text-success">{{ message }}</h3></td>
                {% endfor %}
                </tr>
              {% endif %}
            {% endwith %}
        <div style="margin-bottom: 30px"><h4>首次使用请查看:<a href="/help">使用帮助</a></h4></div>
        <div style="margin-bottom: 30px"><h4>首次使用请查看:<a href="/help">使用帮助</a></h4></div>
        <div style="margin-bottom: 30px"><h4>重要的事情说三遍!首次使用请查看:<a href="/help">使用帮助</a>不要再问我从哪找ID了...</h4></div>
            <form method="post">
              <div class="form-group">
                <label>乐动力ID</label>
                <input type="number" class="form-control"  placeholder="如:123456" name="ldl_id" required>
              </div>
              <div class="form-group">
                <label>修改成多少?</label>
                <input type="number" class="form-control" placeholder="最大:98800" name="steps" required>
              </div>
              <div class="form-group">
                <label>接头暗号(区分大小写)</label>
                <input type="text" class="form-control" placeholder="请输入:{{ p_password }}" name="password" required>
                <input type="hidden" name="real_password" value="{{ p_password }}">
              </div>
              <button type="submit" class="btn btn-default" id="submit">我要装逼</button>
            </form>
            <div style="margin-top: 10px;"><h3>已有<b class="text-danger">{{ count }}</b>人成功装逼</h3></div>
            <div><h4>新浪微博: <a href="http://weibo.com/q967168">@挨踢实习生</a></h4></div>

            <div><img class="img-responsive" src="http://ac-p5wg1h2j.clouddn.com/b8a6c2ffb65e4609.png" alt=""></div>
        </div>
    </body>
</html>
